* {
    margin: 0px;
    padding: 0px;
}

body {
    background: black;
    font-family: Calibri;
    margin-top: 70px;
}

header {
    margin: 0px auto 0px auto;
    width: 900px;
    height: 82px;
    position: relative;
    background: #5e1f28;
    padding: 30px auto;
}

header a {
    text-decoration: none;
    padding-left: 0px;
    display: block;
    float: left;
    margin-left: 86px;
    margin-top: 30px;
    color: #f7bb75;
    font-size: 21px;
}

header a:hover {
    border-bottom: 5px solid #83764c;
}

header img {
    float: left;
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
}

article {
    margin: 0px auto 0px auto;
    width: 900px;
    height: 600px;
    background: #8a2f2e;
    position: relative;
    color: #f7bb75;
}

article h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 38px;
    color: #f7bb75;
}

article h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
}

article p {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-align: justify;
}

article img {
    padding-left: 186px;
    padding-top: 10px;
    position: relative;
}

article td img {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}

article table {
    padding-top: 50px;
}

article textarea{
    resize: none;
}

footer {
    margin: 0px auto 0px auto;
    width: 900px;
    height: 50px;
    background: #ae5543;
}

footer p {
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    color: #f7bb75;
}

@media screen and (min-width:220px) and (max-width:568px) {

    footer {
        margin-left: 0px;
    }
}

@media screen and (min-width:569px) and (max-width:767px) {

    footer {
        margin-left: 0px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {

    /*ipad*/

    footer {
        margin-left: 0px;
    }
}

@media screen and (min-width: 412px) and (max-width: 915px) {

    /*S20 Ultra*/

    footer {
        margin-left: 0px
    }
}